[Unit]
Description=Scheduled snapshot of etcd datastore & k8s resources

[Service]
Type=oneshot
#User=core
#Group=core
Environment=TGT=/tmp/ocp-snapshots
Environment=DAYS=7
ExecStart=/bin/bash /usr/local/bin/cluster-backup.sh ${TGT}
ExecStart=find ${TGT} -name static*.tar.gz -mtime +${DAYS} -type f -delete || echo
ExecStart=find ${TGT} -name snapshot*.db     -mtime +${DAYS} -type f -delete || echo
